.footer {
  background-color: inherit;
  width: 100vw;
  padding: 4.2rem $gutter-default-mobile $gutter-default-mobile;

  @include responsive-for(mobile) {

    &__desktop {
      display: none;
    }
  }

  &__socials {
    width: 100%;
    padding-bottom: $gutter-default-mobile;

    &--text {
      @include body-text-secondary;
      text-align: center;
      max-width: 12.5rem;
    }
  }

  &__socials--link,
  &__link--signup {
    width: 100%;
    @include flex(column, center, center);
    text-align: center;
    @include dashedBorder;
    padding: $gutter-default-mobile;

    &:not(:last-child) {
      margin-bottom: $gutter-default-mobile;
    }

    &:last-child {
      margin-top: $gutter-default-mobile;
    }
  }

  &__socials--icon,
  &__link--icon {
    display: block;
    height: $gutter-default-mobile;
    width: $gutter-default-mobile;
    margin-bottom: 1.5rem;
  }

  &__link--signup img {
    height: 2rem;
    width: 3.3rem;
  }

  &__link {
    &--text p {
      @include body-text-secondary;
      text-align: center;
      font-size: 1rem;
    }
  }

  form {
    position: relative;
    margin-top: 1.5rem;
    width: 100%;

    &::after {
      content: "\21E3";
      position: absolute;
      right: $gutter-default-mobile;
      top: 1.7rem;
      transform: rotate(-90deg);
      font-size: 2.4rem;
      color: $black-hole;
    }
  }

  &__form {
    &--input {

      &[type='text'],
      &[type='text']:active,
      &[type='text']:focus {
        width: 100%;
        padding: 2rem $gutter-default-mobile;
        border: 1px solid rgba($black-hole, 1);
        color: $black-hole;
        @include body-text-secondary;
        background: transparent;
        border-radius: 0;
        box-shadow: none;
      }

      &[type='submit'] {
        position: absolute;
        opacity: 0;
        right: 12px;
        top: 20px;
        z-index: 1;
        -webkit-appearance: button;

      }
    }
  }

  &__legal {
    @include flex(row, space-between, center);
    width: 100%;
    flex-wrap: wrap;

    a {
      text-decoration: underline;
    }

    a,
    span,
    p {
      @include body-text-attribution;
    }

    span {
      display: block;
    }

    span a {
      text-decoration: none;
    }

    &--left {
      max-width: 40%;
      padding: 0;
      text-align: left;
    }

    &--right {
      max-width: 60%;
      height: 100%;
      padding: 0;
      text-align: right;
      @include flex(column, space-between, flex-end);
    }
  }
}

@include responsive-for(desktop) {
  :host {
    max-height: fit-content;
    z-index: 100;
    top: 100%;
    left: 0;
    position: absolute;

  }

  .footer {
    margin-top: auto;
    height: 100%;

    &__desktop {
      display: contents;
    }
  }
}