.header {
  top: 0;
  left: 0;
  z-index: 1;

  &__text {
    @include display-text-medium-mobile;
    padding: 30rem $gutter-horizontal-mobile $gutter-vertical-mobile;
    margin: 0;
  }

  &__link {
    @include link-primary-mobile;
  }

  &__img {
    overflow-x: hidden;
    display: block;
    z-index: 1;
    height: 100%;

    img {
      overflow-x: hidden;
      display: block;
      z-index: 2;
      width: 100%;
      background-size: cover;
      transform: translate3d(0px, 0px, 0px);
      margin-bottom: $gutter-display-text-mobile;
    }
  }
}
