.btn {
  @include body-text-secondary;
  background-color: transparent;
  font-family: $global-font-body;
  border: 1px solid $black-hole;
  padding: 1.25rem;
  max-width: 100%;
  color: $black-hole;
  margin: 1.25rem auto;
  transition: all .3s;
  text-align: center;
  // width: 100%;

  &:hover,
  &:active {
    background-color: $black-hole;
    color: $granulated-sugar;
  }
}

.btn,
.social {
  @include body-text-primary-mobile;
  margin: 0;
  padding: 2rem;
}

.btn-menu {
  margin: $gutter-default-mobile;
  text-transform: lowercase;
}

.btn-submit {
  margin-top: 1.5rem;
  padding: 2rem $gutter-default-mobile;
  @include body-text-secondary;
  @include flex(row, space-between, center);
}
