.food,
.retail,
.community {
  @include responsive-for(mobile) {
    max-width: 100vw;
    width: 100%;
    padding: 10rem $gutter-default-mobile $gutter-default-mobile;


    &__info {

      @include flex(column, flex-start, center);
      height: 11rem;

      p {
        width: 100%;
        text-align: right;
        @include body-text-secondary;
      }
    }
  }

  @include responsive-for(desktop) {
    // height: auto;
    // width: calc(100vw - (6rem * 3));
    // z-index: 3;
    // padding: auto 6rem;
    // position: absolute;
    // z-index: 1;
    // top: 0;
    // padding: 6rem;

  }

  &__hero {
    // max-width: 100%;
    // margin: 10rem 0;

    &--info {
      @include body-text-secondary;
      text-align: right;
      height: 10rem;

      &.community {
        // margin-left: 40%;
      }
    }

    &--title {
      @include display-text-extra-large-mobile;
      width: 70%;
      margin-bottom: 2rem;
      // margin-right: 8rem;
      // margin: 0 4rem 2rem 0;

    }

    &--fig {
      position: relative;
      width: calc(100vw - 6rem);
      height: calc(100vw - 6rem);
      margin-bottom: 10rem;

      &-caption {
        position: absolute;
        @include display-text-extra-large-mobile;
        font-family: $global-font-body;
        bottom: -$gutter-default-mobile;
        right: 0;
        text-shadow: 2px 2px 2px rgba($granulated-sugar, .4);
      }
    }

    &--img {
      object-fit: cover;
      max-width: 100%;
    }

    // &--vendor {
    //   // text-align: center;
    //   // margin: 10.5rem auto 6rem;
    //   @include display-text-extra-large-mobile;
    //   @include zigZagLineInfinite;
    //   padding-bottom: 7rem;
    // }
  }

  &__section {
    @include flex(column, center, flex-start);

    .radio {
      position: relative;
      @include flex(column, center, center);
      text-align: center;
      padding: 6rem 0;
      width: 100%;

      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: 1.4rem;
        width: 100%;
        @include zigZagLineInfinite;
        animation: 2s infinite normal infiniteZigZagBorder;
        animation-timing-function: linear;
      }

      &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        height: $gutter-default-mobile;
        width: 100%;
        @include digitalDash;
      }
    }

    .radio &--title {
      margin-top: $gutter-display-text-mobile;
    }

    &--svg {
      &:not(:first-of-type) {
        transform: rotateY(180deg);
      }
    }

    svg {
      width: 11.7rem;
      height: 14rem;
      @include bounce;
    }

    &--title {
      width: 100%;
      @include display-text-extra-large-mobile;
      text-align: center;
      margin-bottom: $gutter-display-text-mobile;
      max-width: 31.5rem;
    }

    &--sub-title {
      @include body-text-primary-mobile;
      text-align: center;
      margin-bottom: 6rem;
    }

    &--text {
      width: 100%;

      h3 {
        text-align: left;
        margin-top: 1rem;
        font-size: 4rem;
        line-height: 4rem;
        margin-bottom: $gutter-default-mobile;
      }

      // ul {
      //   padding-left: 2rem;
      //   margin-bottom: $gutter-default-mobile;
      // }


      // li {
      //   @include body-text-secondary;
      //   margin-left: .5rem;
      //   margin-bottom: 1.5rem;
      // }

      // app-footer section.cta.vendor {
      //   display: none;
      // }

      @media screen and (min-width: 768px) {
        .vendor-hero {
          background-image: repeating-linear-gradient(-45deg, $black-hole, $black-hole 1px, transparent 0, transparent 2rem), repeating-linear-gradient(45deg, $black-hole, $black-hole 1px, transparent 0, transparent 2rem);
          background-position: 0 100%, 0 100%;
          background-size: 29px 14px, 29px 14px;
        }

        h2.vendor-hero {
          font-size: 10rem;
          line-height: 10rem;
          width: 100%;
          max-width: 87rem;
          margin: 0 auto;
        }
      }
    }
  }

  &__list {
    @include flex(column, center, center);
    text-align: left;
    margin-bottom: 6rem;

    &--detail {
      margin-bottom: $gutter-default-mobile;
      width: 100%;
    }

    &--genre {
      margin-bottom: 1rem;
      @include body-text-primary-mobile;
    }

    &--name {
      @include display-text-medium-mobile;
      padding-right: 7rem;
    }

    &--podcast {
      width: 100%;
      padding: $gutter-display-text-mobile 2rem;
      @include digitalDash;
      text-align: center;
      position: relative;

      &:first-of-type::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: $gutter-default-mobile;
        width: 100%;
        @include digitalDash;
      }
    }

    &--date {
      margin-bottom: 1rem;
      @include display-text-extra-small;
      text-align: center;
    }

    &--show {
      @include display-text-primary-subheading;
      text-align: center;
      padding: 0 2rem;
    }
  }


  &__img {
    max-width: 100%;

    &--vendor {
      max-width: 100%;
      margin: 0 $gutter-default-mobile $gutter-default-mobile;
    }
  }
}