.content {
  @include responsive-for(mobile) {
    width: 100vw;
    overflow-x: hidden;
    position: relative;
    @include flex(column, center, center);
    padding: $gutter-vertical-mobile $gutter-horizontal-mobile 0;

    &::before {
      top: 0;
      left: 0;
      content: '';
      position: absolute;
      position: fixed;
      z-index: -1;
      width: 100vw;
      height: 100%;
    }
  }

  @include responsive-for(desktop) {
// height: auto;
    // width: calc(100vw - (6rem * 3));
    // z-index: 3;
    // padding: auto 6rem;
    // position: absolute;
    // z-index: 1;
    // top: 0;
    // padding: 6rem;

    // &.home {
    //   left: 0rem;
    // }

    // &.food {
    //   left: 6rem;

    // }

    // &.retail {
    //   left: 12rem;
    // }

    // &.community {
    //   left: 18rem;
    // }
  }

  &__hero {
    // width: 100%;
    // margin: 10rem 0;

    &--info {
      @include body-text-secondary;
      text-align: right;
      height: 10rem;

      &.community {
        // margin-left: 40%;
      }
    }

    &--title {
      @include display-text-extra-large-mobile;
      padding: 0 2rem 0 0;
      margin-bottom: 2rem;
    }

    &--fig {
      position: relative;

      &-img {
        width: 100%;
        // TO-DO => resize

      }

      &-caption {
        position: absolute;
        @include display-text-extra-large-mobile;
        font-family: $font-body-default;
        bottom: -2.5rem;
        right: 0;
        text-shadow: 1px 1px 1px rgba($granulated-sugar, .5);
      }
    }

    &--img {
      object-fit: cover;
      max-width: 100%;
    }

    &--vendor {
      text-align: center;
      margin: 10.5rem auto 6rem;
      @include display-text-extra-large-mobile;
      @include zigZagLineInfinite;
      padding-bottom: 7rem;
    }
  }

  &__section {
    @include flex(column, center, center);

    .radio {
      position: relative;
      @include flex(column, center, center);
      text-align: center;
      padding: 6rem 0;
      width: 100%;

      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: 1.4rem;
        width: 100%;
        @include zigZagLineInfinite;
        animation: 2s infinite normal infiniteZigZagBorder;
        animation-timing-function: linear;
      }

      &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        height: 3rem;
        width: 100%;
        @include digitalDash;
      }
    }

    .radio &--title {
      margin-top: $gutter-display-text-mobile;
    }

    &--svg {
      &:not(:first-of-type) {
        transform: rotateY(180deg);
      }
    }

    svg {
      width: 11.7rem;
      height: 14rem;
      @include bounce;
    }

    &--title {
      width: 100%;
      @include display-text-extra-large-mobile;
      text-align: center;
      margin-bottom: $gutter-display-text-mobile;
      max-width: 31.5rem;
    }

    &--sub-title {
      @include body-text-primary-mobile;
      text-align: center;
      margin-bottom: 6rem;
    }

    &--text {
      width: 100%;

      h3 {
        text-align: left;
        margin-top: 1rem;
        font-size: 4rem;
        line-height: 4rem;
        margin-bottom: 3rem;
      }

      ul {
        padding-left: 2rem;
        margin-bottom: 3rem;
      }

      li:not(:last-child) {
        margin-bottom: 3rem;
      }

      .bullet-style {
        padding-right: 1rem;
      }

      li {
        @include body-text-secondary;
        margin-left: .5rem;
        margin-bottom: 1.5rem;
      }

      app-footer section.cta.vendor {
        display: none;
      }

      @media screen and (min-width: 768px) {
        .vendor-hero {
          // padding: 0 0 70px;
          background-image: repeating-linear-gradient(-45deg, $black-hole, $black-hole 1px, transparent 0, transparent 20px), repeating-linear-gradient(45deg, $black-hole, $black-hole 1px, transparent 0, transparent 20px);
          background-position: 0 100%, 0 100%;
          background-size: 29px 14px, 29px 14px;
        }

        h2.vendor-hero {
          font-size: 100px;
          line-height: 100px;

          //   // font-family: ogg, sans-serif;
          width: 100%;
          max-width: 870px;
          margin: 0 auto;
        }
      }
    }
  }

  &__list {
    @include flex(column, center, center);
    text-align: left;
    margin-bottom: 6rem;

    &--detail {
      margin-bottom: $gutter-horizontal-mobile;
      width: 100%;
    }

    &--genre {
      margin-bottom: 1rem;
      @include body-text-primary-mobile;
    }

    &--name {
      @include display-text-medium-mobile;
      padding-right: 7rem;
    }

    &--podcast {
      width: 100%;
      padding: $gutter-display-text-mobile 2rem;
      @include digitalDash;
      text-align: center;
    }

    &--date {
      margin-bottom: 1rem;
      @include display-text-extra-small;
      text-align: center;
    }

    &--show {
      @include display-text-primary-subheading;
      text-align: center;
      padding: 0 2rem;
    }
  }

  &__link {
    padding: 2rem;
    @include body-text-primary-mobile;
    margin-bottom: $gutter-display-text-mobile;
  }

  &__img {
    max-width: 100%;

    &--vendor {
      max-width: 100%;
      margin: 0 $gutter-horizontal-mobile $gutter-horizontal-mobile;
    }
  }
}
