.features {
  height: 100%;
  max-width: 100vw;

  &__title {
    @include display-text-extra-large-mobile;
    padding: $gutter-horizontal-mobile;
  }

  &__list {
    padding: $gutter-vertical-mobile $gutter-horizontal-mobile;

    &--fig {
      object-fit: contain;
    }

    img {
      max-width: 100%;
      height: 100%;
      z-index: 1;
      background-position: 50%;
    }

    &--caption {
      margin: $gutter-horizontal-mobile 0;

      &-list {
        @include body-text-secondary;
      }
    }



    // &--fig community{
    //   height: 23.92rem;
    //   overflow: hidden;
    //   // &__img {
    //     overflow-x: hidden;
    //     position: relative;
    //     z-index: 1;
    //     min-height: 33rem;



    //   // }
    //   img {
    //     width: auto;
    //     margin-top: -25%;
    //     width: 100%;
    //     // opacity: 0;
    //       transition: opacity 1.5s;
    //       object-fit: cover;
    //       object-position: center right;
    //       margin-bottom: $gutter-display-text-mobile;

    //       &.active {
    //         opacity: 1;
    //       }
    //   }

    //   &-caption {
    //     position: absolute;
    //     left: 5vw;
    //     bottom: -6rem;
    //     @include display-text-medium-mobile;

    //     &-link {
    //       background-color: $granulated-sugar;
    //       padding: 1rem 0 1rem 1rem;
    //     }
    //   }
    &--item {
      position: relative;
    }

    // }
  }

  &__link {
    margin-bottom: 6rem;

    .btn {
      padding: 1.4rem;
    }
  }
}
