<div class="community">
  <!-- <span>Community</span> -->
  <section class="community__info">
    <p> Our mixed-use space hosts ongoing events, podcasts & artists in residence</p>
  </section>

  <section class="community__hero">

    <h2 class="community__hero--title">Grand St. Community</h2>

    <figure class="community__hero--fig">

      <img class="community__hero--fig-img"
           src="/assets/images/home_page_one.avif"
           alt="community-hero">

      <figcaption class="community__hero--fig-caption">文化</figcaption>
    </figure>

  </section>

  <section class="community__events">
    <h2 class="community__events--title">Market Events</h2>
    <ul class="events__list--community">
      <li class="events__list--community-item"
          *ngFor="let event of (communityInfo$|async).recentEvents">
        <p class="events__list--event-date">{{event.eventDate[0]}}/{{event.eventDate[1]}} (past)</p>
        <p class="events__list--event-name">{{event.eventName}}</p>
      </li>
    </ul>

    <!-- TO-DO - routerlink -->
    <a class="community__events--link btn"
       [routerLink]="['/community','event']">view all</a>
  </section>

  <section class="community__features">
    <h2 class="community__features--title">Features</h2>

    <ul class="community__features--list">

      <li *ngFor="let feature of (communityInfo$|async).recentFeatures"
          class="community__features--list-item">

        <figure class="community__features--list-fig">

          <img class="community__features--list-fig-img"
               src="{{feature.featureInfo.featureImg}}"
               alt="{{feature.feature}}">

          <figcaption class="community__features--list-fig-caption">
            <!-- TO-DO - routerlink to feature -->
            <a [routerLink]="['community', feature.featureInfo.featureLink]"
               class="community__features--list-fig-caption-link">{{feature.featureInfo.feature}}</a>
          </figcaption>
        </figure>
      </li>

    </ul>

    <!-- TO-DO - routerlink to feature -->
    <a class="community__features--link btn"
       [routerLink]="['community/feature']">view all stories</a>
  </section>

  <section class="community__podcasts">

    <div class="community cta">

      <svg xmlns="http://www.w3.org/2000/svg"
           aria-hidden="true"
           class="cta__svg">
        <use xlink:href="assets/svg.svg/#radiohead"></use>
      </svg>

      <div class="cta__content--radiohead">

        <h2 class="cta__title">Market Radio</h2>

        <p class="cta__text">Podcasted from the market</p>
      </div>

      <div class="cta__rotate--radiohead">

        <svg xmlns="http://www.w3.org/2000/svg"
             aria-hidden="true"
             class="community__svg">
          <use xlink:href="assets/svg.svg/#radiohead"></use>
        </svg>
      </div>
    </div>

    <ul class="community__list">

      <li *ngFor="let podcast of (communityInfo$|async).recentPodcasts"
          class="community__list--podcast">

        <p class="community__list--date">{{podcast.podcastDate[0]}}/{{podcast.podcastDate[1]}}</p>

        <p class="community__list--show"> {{podcast.podcastName}}</p>
      </li>
    </ul>

    <button class="community__link btn">see all</button>
  </section>

  <app-footer></app-footer>
</div>