<footer>
  <section class="cta vendor">
    <h4>Interested in becoming a vendor?</h4>
    <button class="btn"
            routerLink='/become-a-vendor'>click here</button>
  </section>
  <section class="social"
           >
    <a *ngFor="let social of socials"href="{{social.link}}"
       class="social-details"
       target="_blank">
      <img src="{{social.icon}}"
           alt="">
      <p>{{social.social}}</p>
    </a>
  <a href="/"
     class="social-details mobile"
     target="_blank">
    <img src="/assets/images/svg-icon-mail.svg"
         alt="">

    <p>Get updates in your inbox</p>
    <button class="btn"><span>Email </span> <span>=></span> </button>
  </a>
</section>



  <section class="news desktop">
    <p>Stay up to date with our newsletter</p>
  </section>




  <div class="footer-legal__left">


    <a target="_blank"
       href="https://canal-street-dashboard.herokuapp.com/login">Vendor Login</a>
  </div>
  <a class="zero"
     href="https://zero.nyc/"
     target="_blank">Site by <span>Zero</span></a>

  <section class="legal">
    <ul>
      <div class="row">
        <a href="https://canalstreet.market/privacy-policy/">Privacy Policy</a>

        <li><a target="_blank"
             href="https://canal-street-dashboard.herokuapp.com/login">Vendor Login</a>
        </li>
      </div>

      <div class="row-zero">



        <a class="zero"
           href="https://zero.nyc/"
           target="_blank">Site by <span>Zero</span></a>


        <br>
        <a href="https://zero.nyc/"
           target="_blank">Coded by <span>Chanda Abdul</span></a>

        <p>Copyright Canal Street Market 2022</p>
      </div>
    </ul>
  </section>




</footer>
