// TO-DO => condense CSS

@import "abstracts/mixins";
@import "abstracts/variables";
@import "base/media-queries";
@import "base/typography";
@import "base/animations";


.footer {
  width: 100vw;
  background-color: transparent;
  padding: 0 3rem 3rem 3rem;

  &__cta {
    @include flex(column, center, center);
    margin: 4.2rem 0;
    width: 100%;
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 1.2rem;
      width: 100%;
      background-image: repeating-linear-gradient(-74deg, rgba($black-hole, .2), rgba($black-hole, .2) 1px, transparent 0, transparent 4px), repeating-linear-gradient(-74deg, rgba($black-hole, .2), rgba($black-hole, .2) 1px, transparent 0, transparent 4px);
      background-position: 0 0, 0 100%;
      background-size: 100% 1.2rem, 100% 1.2rem;
      animation: none;
    }

    &::before {
      top: -3rem;
      left: 0;
    }

    &::after {
      bottom: -3rem;
      right: 0;
    }
  }

  &__title {
    @include display-text-small;
    text-align: center;
    max-width: calc(100% - 6rem);
    margin: 0 $gutter-horizontal-mobile 2.5rem;
  }

  &__socials {
    width: 100%;
    padding: 4.2rem 0 3rem 0;

    &--text {
      @include body-text-secondary;
      text-align: center;
      max-width: 12.5rem;
    }
  }

  &__socials--link,
  &__link--signup {
    width: 100%;
    @include flex(column, center, center);
    text-align: center;
    @include dashedBorder;
    padding: $gutter-horizontal-mobile;
    margin-bottom: $gutter-horizontal-mobile;
  }

  &__socials--icon,
  &__link--icon {
    display: block;
    height: 3rem;
    width: 3rem;
    margin-bottom: 1.5rem;
  }

  &__link--signup img {
    height: 2rem;
    width: 3.3rem;
  }

  &__link {
    &--text {
      @include body-text-secondary;
      text-align: center;
    }

    &--vendor {
      margin-bottom: 1.2rem;
    }

  }

  @include responsive-for(mobile) {
    &__desktop {
      display: none;
    }
  }

  &__legal {
    @include flex(row, space-between, center);
    width: 100%;
    flex-wrap: wrap;
    @include body-text-attribution;

    a {
      text-decoration: underline;
    }

    span {
      display: block;
    }

    span a {
      text-decoration: none;
    }

    &--left {
      max-width: 40%;
      padding: 0;
      text-align: left;
    }

    &--right {
      max-width: 60%;
      height: 100%;
      padding: 0;
      text-align: right;
      @include flex(column, space-between, flex-end);
    }
  }
}
