<nav class="nav__mobile">

      <a routerLink="/"
         class="nav__mobile--logo"
         *ngIf="!isMenuOpen">

            <svg xmlns="http://www.w3.org/2000/svg"
                 aria-hidden="true">
                  <use xlink:href="assets/svg.svg/#logo"></use>
            </svg>
      </a>


      <div class="nav__mobile--menu-form-control">
            <label for="mobile-menu-toggle"
                   class="nav__mobile--menu-toggle"
                   id="mobile-menu-toggle">
                  <input type="checkbox"
                         class="nav__mobile--menu-checkbox"
                         name="isMenuOpen"
                         id="mobile-menu-toggle"
                         [(ngModel)]="isMenuOpen">
                  <span class="nav__mobile--menu-icon"></span>
            </label>
      </div>

      <!-- dropdown menu expanded -->
      <div *ngIf="isMenuOpen"
           class="nav__mobile--menu-dropdown">
            <menu class="nav__mobile--menu-container-links">
                  <li class="nav__mobile--menu-link"
                      *ngFor="let link of links">
                        <a routerLink="/{{link}}"
                           (click)="isMenuOpen = false">
                              {{link | titlecase}}
                        </a>
                  </li>
                  <!-- link to /become-a-vendor -->
                  <div class="nav__mobile--info"
                       (click)="isMenuOpen = false">
                        <a class="btn btn-menu"
                           routerLink="/become-a-vendor">Become a Vendor</a>

                        <div class="nav__mobile--attribution">
                              <ul class="nav__mobile--attribution-address">
                                    <li>265 Grand Street</li>
                                    <li>Oakland, California</li>
                              </ul>
                              <ul class="nav__mobile--attribution-hours-food">
                                    <li>Food Hall Hours:</li>
                                    <li>Mon – Sun: 10AM- 10PM</li>
                              </ul>
                              <ul class="nav__mobile--attribution-hours-retail">
                                    <li>Retail Market Hours:</li>
                                    <li>Mon – Sat: 11AM- 7PM</li>
                                    <li>Sun: 11AM-6PM</li>
                              </ul>
                        <a class="link-submit">
                              Email us
                        </a>  <ul class="nav__mobile--attribution-socials">
                              <li *ngFor="let social of socials.slice(1,3)">
                                    <a href="{{social.link}}"
                                       class="footer__socials--link"
                                       target="_blank">

                                          <img src="{{social.icon}}"
                                               class="footer__socials--icon"
                                               alt="{{social.link}}">
                                              </a>
                              </li>

                        </ul></div>
                       
                       
                  </div>
    
            </menu>






      </div>
</nav>