<div class="content">
  <!-- <span>Community</span> -->
  <div class="content__hero">
    <div class="content__hero--info community">
      <p> Our mixed-use space hosts ongoing events, podcasts & artists in residence</p>
    </div>
    <h2 class="content__hero--title">Grand St. Community</h2>
    <figure class="content__hero--fig">
      <img class="content__hero--fig-img"
           src="/assets/images/home_page_one.avif"
           alt="">
      <figcaption class="content__hero--fig-caption">文化</figcaption>
    </figure>

  </div>


  <section class="content__section">
    <h2 class="content__section--title">Market Events</h2>
    <ul class="event__list-secondary">
      <li class="event__list-secondary--item"
          *ngFor="let event of eventList.slice(0,4)">
        <p class="event__list-secondary--date">{{event.eventDate}}</p>
        <p class="event__list-secondary--name">{{event.eventName}}</p>
      </li>
    </ul>

    <a class="event__link btn"
       routerLink="/community/event">view all</a>
  </section>


  <section class="content__section">
    <h2 class="content__section--title">Features</h2>

    <ul class="features__list">
      <li *ngFor="let feature of features.slice(0,4)"
          class="features__list--item">

        <figure class="features__list--fig">
          <img class="features__list--fig-img"
               src="{{feature.featureIMG}}"
               alt="{{feature.feature}}">

          <figcaption class="features__list--fig-caption">
            <!-- TO-DO - add link to feature -->
            <a href="#"
               class="features__list--fig-caption-link">
              {{feature.feature}}
            </a>

          </figcaption>
        </figure>
      </li>
    </ul>
    <a class="features__link btn"
       routerLink="community/feature">view all stories</a>
  </section>



<!-- TO-DO => switch smile svg to head svg -->
  <app-call-to-action></app-call-to-action>


  <section class="content__section">
    <div class="content__section--hero">
      <h2 class="content__section--title">Market Radio</h2>
      <p class="content__section--sub-title">Podcasted from the market</p>
    </div>
    <ul class="content__list">
      <li *ngFor="let podcast of podcasts.slice(0,3)"
          class="content__list--podcast">
        <p class="content__list--date">{{podcast.podcastDate}}</p>
        <p class="content__list--show"> {{podcast.podcastName}}</p>
      </li>
    </ul>
    <button class="content__link btn">see all</button>
  </section>

