@import  'base/fonts';

/* Color Palette */
$black-hole:hsl(0, 0%, 0%) !default;
$blue-jeans:hsl(211, 79%, 65%);
$red-radish:hsl(0, 91%, 62%);
$imperial-yellow:hsl(42, 100%, 50%);
$granulated-sugar:hsl(0, 0%, 100%);

/*  Spacing */
$gutter-horizontal-mobile: 3rem;
$gutter-vertical-mobile: 4rem;
$gutter-display-text-mobile: 6rem;
