@import "abstracts/mixins";
@import "abstracts/variables";
// @import "base/media-queries";
// @import "base/typography";
// @import "base/animations";


.nav__desktop {
  position: relative;

  &--menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;


    input[type="radio"] {
      opacity: 0;
      height: 100%;
      width: 100%;
    }

    &-container-links {
      display: flex;
      flex-wrap: wrap;
      overflow: scroll;

      li {
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        transition: all 0.5s ease;
        height: 100vh;
        min-width: 6rem;
        margin-right: 0;
        // transition: margin 1.3s ease;

        &.active-panel {
          width: calc(100% - (6rem * 3));

          label {
            background-color: transparent;
          }

          span {
            transform: rotate(0);
            opacity: 0;
          }

          h5 {
            opacity: 0;
          }

        }

        label {
          padding: 6rem 0;
          height: 100vh;
          width: 100%;
          position: relative;
        }

        a {
          @include flex(column, center, center);
          position: absolute;
          top: 6rem;

          svg {
            position: absolute;
            left: 3rem;
          }

          h5 {
            opacity: 1;
          }
        }
      }

      .home {
        background-color: $granulated-sugar;
      }

      .food {
        background-color: $blue-jeans;
      }

      .retail {
        background-color: $red-radish;
      }

      .community {
        background-color: $imperial-yellow;
      }
    }

    &-link {
      height: 100%;
      width: 100%;
      position: relative;
      @include flex(column, center, center);
      padding-top: $gutter-vertical-mobile;

    }

    span {
      transition: all 1s ease;
      opacity: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform-origin: center;
      transform: translateY(-50%) translateX(-50%) rotate(90deg);
    }
  }





}
