.content {
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
  @include flex(column, center, center);
  padding: $gutter-vertical-mobile $gutter-horizontal-mobile 0;

  &::before {
    top: 0;
    left: 0;
    content: '';
    position: absolute;
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100%;
  }

  &__hero {
    width: 100%;
    margin: 10rem 0;

    &--info {
      @include body-text-secondary;
      text-align: right;
      height: 10rem;

      &.community {
        margin-left: 40%
      }
    }

    &--title {
      @include display-text-extra-large-mobile;
      padding: 0 2rem 0 0;
      margin-bottom: 2rem;
    }

    &--fig {
      position: relative;

      &-img {
        width: 100%;
        // TO-DO => resize
        transform: translate3d(0px, 0px, 0px);
      }

      &-caption {
        position: absolute;
        @include display-text-extra-large-mobile;
        font-family: $font-body-default;
        bottom: -2.5rem;
        right: 0;
        text-shadow: 1px 1px 1px rgba($granulated-sugar, .5);
      }
    }
  }

  &__section {
    @include flex(column, center, center);

    .radio {
      position: relative;
      @include flex(column, center, center);
      text-align: center;
      padding: 6rem 0;
      width: 100%;

      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: 1.4rem;
        width: 100%;
        // TO-DO => move to animations.scss
        background-image: repeating-linear-gradient(-45deg, #000, #000 1px, transparent 0, transparent 20px), repeating-linear-gradient(45deg, #000, #000 1px, transparent 0, transparent 20px), repeating-linear-gradient(-45deg, #000, #000 1px, transparent 0, transparent 20px), repeating-linear-gradient(45deg, #000, #000 1px, transparent 0, transparent 20px);
        background-position: 0 100%, 0 100%, 0 0, 0 0;
        background-size: 29px 14px, 29px 14px, 29px 14px, 29px 14px;
        animation: 2s infinite normal infiniteZigZagBorder;
        animation-timing-function: linear;
      }

      &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        height: 3rem;
        width: 100%;
        @include digitalDash;
      }
    }

    .radio &--title {
      margin-top: $gutter-display-text-mobile;
    }

    &--svg {
      &:not(:first-of-type) {
        transform: rotateY(180deg);
      }
    }

    svg {
      width: 11.7rem;
      height: 14rem;
      @include bounce;
    }

    &--title {
      width: 100%;
      @include display-text-extra-large-mobile;
      text-align: center;
      margin-bottom: $gutter-display-text-mobile;
      max-width: 31.5rem;
    }

    &--sub-title {
      @include body-text-primary-mobile;
      text-align: center;
      margin-bottom: 6rem;
    }
  }

  &__list {
    @include flex(column, center, center);
    text-align: left;
    margin-bottom: 6rem;

    &--detail {
      margin-bottom: $gutter-horizontal-mobile;
      width: 100%;
    }

    &--genre {
      margin-bottom: 1rem;
      @include body-text-primary-mobile;
    }

    &--name {
      @include display-text-medium-mobile;
      padding-right: 7rem;
    }

    &--podcast {
      width: 100%;
      padding: $gutter-display-text-mobile 2rem;
      @include digitalDash;
      text-align: center;
    }

    &--date {
      margin-bottom: 1rem;
      @include display-text-extra-small;
      text-align: center;
    }

    &--show {
      @include display-text-primary-subheading;
      text-align: center;
      padding: 0 2rem;
    }
  }

  &__link {
    padding: 2rem;
    @include body-text-primary-mobile;
    margin-bottom: $gutter-display-text-mobile;
  }

}



.event {
  &__list-secondary {
    width: 100%;
    padding-bottom: 9rem;
    margin-top: 2rem;

    &--item {
      padding: $gutter-display-text-mobile 2rem;
      @include flex(column, center, center);
      text-align: center;
      position: relative;
      @include repeatingSlashesStatic;

      &:last-child {
        position: relative;

        &::after {
          position: absolute;
          content: '';
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2.2rem;
          @include repeatingSlashesStatic;
        }
      }
    }

    &--date {
      margin-top: 2.2rem;
      @include display-text-extra-small;
    }

    &--name {
      @include body-text-primary-mobile;
      max-width: 20rem;
    }
  }

  &__link {
    padding: 1.9rem;
    @include body-text-primary-mobile;
    margin-bottom: 8rem;
  }
}


.features {
  height: 100%;

  &__list {

    &--item {
      position: relative;
    }

    &--fig {
      height: 23.92rem;
      overflow: hidden;

      img {
        width: auto;
        margin-top: -25%;
        width: 100%;
      }

      &-caption {
        position: absolute;
        left: 5vw;
        bottom: -6rem;
        @include display-text-medium-mobile;

        &-link {
          background-color: $granulated-sugar;
          padding: 1rem 0 1rem 1rem;
        }
      }
    }
  }

  &__link {
    margin-bottom: 6rem;

    .btn {
      padding: 1.4rem;
    }
  }


}
