@import "main";

:host{
  background-color: $granulated-sugar;
}

.features {
  max-width: 100vw;

  &__title {
    @include display-text-large-mobile;
    margin-bottom: $gutter-display-text-mobile;
  }

  &__list {
    &--item {
      &-img {
        z-index: 1;
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
        background-position: 50%;
        width: 100%;
      }

      &-caption {
        margin: $gutter-horizontal-mobile 0;

        &-list {
          @include body-text-primary-mobile;
        }

        &-item {}
      }
    }
  }
}

.events {
  max-width: 100vw;
  text-align: center;
  // margin-bottom: $gutter-display-text-mobile;
  @include flex(column, center, center);
  padding-bottom: $gutter-horizontal-mobile;

  &__hero {
    margin: $gutter-display-text-mobile;
  }

  &__title {
    @include display-text-large-mobile;
    margin: $gutter-display-text-mobile;
  }

  &__list {
    width: 100%;
    padding: $gutter-vertical-mobile $gutter-horizontal-mobile;

    &--event-item {
      padding: $gutter-display-text-mobile 2rem;
      @include flex(column, center, center);

      &:nth-child(odd) {
        background-image: linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(90deg, #000 50%, transparent 0);
        background-position: 0 0, 0 100%, left 14px, 0 calc(100% - 14px);
        background-repeat: repeat-x, repeat-x, repeat-x, repeat-x;
        background-size: 24px 1px, 24px 1px, 24px 1px, 24px 1px;
        animation: .8s infinite normal c;
        animation-timing-function: linear;
      }
    }

    &--event-date {
      @include display-text-extra-small;
    }

    &--event-title {
      @include display-text-small;

    }
  }

  &__link {
    // margin-top: $gutter-display-text-mobile;
    padding: 2rem;
    @include display-text-small;
  }
}


.address {
  // margin: $gutter-horizontal-mobile 1.5rem;
  padding: 0  $gutter-horizontal-mobile $gutter-display-text-mobile;

  &__list {
    @include flex(column, center, center);
    width: 100%;
    padding: $gutter-display-text-mobile $gutter-horizontal-mobile;
    background-image: linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(180deg, #000 50%, transparent 0), linear-gradient(180deg, #000 50%, transparent 0);
    background-position: 0 0, 0 100%, 0 0, 100% 0;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: $gutter-horizontal-mobile 1px, $gutter-horizontal-mobile 1px, 1px $gutter-horizontal-mobile, 1px $gutter-horizontal-mobile;
    transition: all .5s;
    animation: .4s infinite normal dashed-border;
    animation-timing-function: linear;
    animation-play-state: paused;

    &:hover {
      animation-play-state: running;
    }

    &--detail h3 {
      @include display-text-medium-mobile;
    }
  }


}





@media screen and (min-width: 768px) {
  .hero {
    width: 75%;
    padding: 250px $gutter-display-text-mobile 120px;

    p {
      @include display-text-large-mobile;
    }

    a {
      @include link-primary;
      //   font-size: 75px;
      // line-height: 86px;
      // letter-spacing: 0;
      // width: 100%;
      // max-width: 1030px;
    }
  }

  .event {}

  .address {
    padding: $gutter-display-text-mobile 3rem;
  }
}
