@import "main";

.hero {
  padding-top: 30rem;

  p {
    @include display-text-medium-mobile;
  }

  a {
    @include link-primary-mobile;
  }
}

.hero-img {
  background-image: url('/assets/images/home-hero.avif');
  // display: contents;
  width: 100vw;
  height: 100vw;
  transform: translate3d(0pxx, 0px, 0px);
  background-size: cover;
  background-position: 50%;
}

.features {
  h1 {
    @include display-text-large-mobile;
    margin-bottom: 6rem;
  }

  .feature {
    .overlay {
      img {
        z-index: 1;
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
        background-position: 50%;
        margin-bottom: $gutter-vertical-mobile;
      }
    }

    p {
      @include body-text-primary-mobile;
      margin: $gutter-vertical-mobile 0;
    }
  }
}

.events {
  width: 100%;
  @include flex(column, center, center);
  text-align: center;
  margin: 12rem auto $gutter-vertical-mobile auto;
}

.events h2 {
  margin: 6rem;
}

.event_list {
  margin: 6rem $gutter-vertical-mobile 48px;
  width: 250px;
}

.event {
  position: relative;
  padding: 4rem 0 3rem 0;
}

.event:nth-child(odd) {

  background-image: linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(90deg, #000 50%, transparent 0);
  background-position: 0 0, 0 100%, left 14px, 0 calc(100% - 14px);
  background-repeat: repeat-x, repeat-x, repeat-x, repeat-x;
  background-size: 24px 1px, 24px 1px, 24px 1px, 24px 1px;
  animation: .8s infinite normal c;
  animation-timing-function: linear;
}

.event .date {
  font-size: .75rem;
}

.event p {
  margin: 1.5rem;
  font-size: 1rem;
}

.address {
  margin: 30px 1.5rem;
  padding: 6rem 25px;
  background-image: linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(180deg, #000 50%, transparent 0), linear-gradient(180deg, #000 50%, transparent 0);
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 30px 1px, 30px 1px, 1px 30px, 1px 30px;
  animation: .4s infinite normal a;
  animation-timing-function: linear;
  animation-play-state: paused;
}

@media screen and (min-width: 768px) {
  .hero {
    width: 75%;
    padding: 250px 6rem 120px;

    p {
      @include display-text-medium;
    }

    a {
      @include link-primary;
      //   font-size: 75px;
      // line-height: 86px;
      // letter-spacing: 0;
      // width: 100%;
      // max-width: 1030px;
    }
  }

  .event {}

  .address {
    padding: 6rem 3rem;
  }
}
