// TO-DO => condense CSS
@import "abstracts/mixins";
@import "abstracts/variables";
// @import "base/media-queries";
// @import "base/typography";
// @import "base/animations";


.nav__mobile {
  position: fixed;
  top: 0;
  left: 0;
  @include flex(row, space-between, center);
  z-index: 15;
  width: 100%;
  min-height: 9rem;

  &--logo {
    position: absolute;
    z-index: 25;
    cursor: pointer;
    width: 6rem;
    height: 6rem;
    margin: 3rem 0 0 3rem;
    // will-change: transform;
    // transform: translateX(0) scale(.83333);
  }

  &--menu {

    /* menu functionality  */
    &-form-control {
      position: fixed;
      z-index: 22;
      height: 9rem;
      width: 100%;
    }

    &-toggle {
      position: fixed;
      top: 4.5rem;
      // TO-DO => change to transform: translate()
      left: calc(100vw - 3rem - 3rem);
      z-index: 20;
      cursor: pointer;
    }

    &-checkbox {

      opacity: 0;
      width: 3rem;
      height: 3rem;
      position: absolute;
      z-index: 21;

      &:checked {
        ~span {
          background-color: transparent;

          &::before {
            top: 0;
            transform: rotate(135deg);
          }

          &::after {
            top: 0;
            transform: rotate(-135deg);
          }
        }

      }

      &:hover:not(:checked)~span {
        &::before {
          top: -.3rem;
        }

        &::after {
          top: .3rem;
        }
      }
    }

    &-icon {
      /* burger menu */
      border: none;
      border-radius: 0;
      background-color: $black-hole;
      height: 1px;
      width: 3rem;
      transition: all .5s;
      position: relative;

      &,
      &::before,
      &::after {
        display: inline-block;
        height: 1px;
        width: 3rem;
        background-color: $black-hole;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all .2s .1s;
      }

      &::before {
        transform: translateY(-1rem);
      }

      &::after {
        transform: translateY(1rem);
      }
    }

    &-dropdown {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 18;
      overflow: hidden;
      transition: all .5s;
      transform: scale(1);
    }

    &-container-links {
      /**
      * TO-DO => Animations
      * translate each link in -10px from the left
      * delay each link to appear .25s after prev link
      * onclick link becomes 100% of links grid width and height from current position
      * then fade out to link page, and close dropdown, scroll to top
      */
      list-style: none;
      display: grid;
      grid-template-rows: repeat(2, 42vh) 16vh;
      grid-template-columns: repeat(2, 50vw);
      z-index: 19;

      li {
        position: relative;
        z-index: 31;

        a {
          z-index: 20;
          @include flex(row, center, center);

          &:not(.btn) {
            position: absolute;
            transform-origin: center;
            width: 100%;
            height: 100%;
            grid-area: span 1 /span 1;
            background: transparent;

            &:hover {
              transform: scale(1.25);
            }
          }
        }
      }

      :first-child {
        background-color: $granulated-sugar;
      }

      :nth-child(2) {
        background-color: $blue-jeans;
      }

      :nth-child(3) {
        background-color: $red-radish;
      }

      :nth-child(4) {
        background-color: $imperial-yellow;
      }

      :nth-child(5) {
        grid-area: span 1 /span 2;
        background-color: $granulated-sugar;
        @include flex(row, center, center);

        &:hover .btn {
          transform: scaleY(1.25);
          color: $black-hole;
        }
      }

      :first-child a,
      :nth-child(4) a {
        transform: rotate(-45deg);
      }

      :nth-child(2) a,
      :nth-child(3) a {
        transform: rotate(45deg);
      }
    }

  }
}
