<div class="content retail">
  <!-- <span>Retail</span> -->
  <div class="content__hero">
    <div class="content__hero--info">
      <p>Retail Market Hours:</p>
      <p>Fri–Sun: 11:00AM - 7:00PM</p>

    </div>
    <h2 class="content__hero--title">The Retail Market</h2>
    <figure class="content__hero--fig">
      <img class="content__hero--fig-img"
           src="/assets/images/home_page_two.avif"
           alt="">
      <figcaption class="content__hero--fig-caption">購物</figcaption>
    </figure>
  </div>

  <section class="content__section">

    <ul class="content__list">
      <li *ngFor="let vendor of retailVendors$|async"
          class="content__list--detail">
        <!-- TO-DO => add food vendor link -->
        <a href="#"
           class="content__list--link">
          <p class="content__list--genre">{{vendor.vendorCategory}}</p>
          <h3 class="content__list--name">{{vendor.vendorName}}</h3>
        </a>

      </li>
    </ul>
  </section>

  <!-- TO-DO => switch smile svg to rose svg -->
  <app-call-to-action></app-call-to-action>
</div>