<div class="retail">
  <!-- <span>Retail</span> -->
  <section class="retail__info">
    <p>Retail Market Hours:</p>
    <p>Fri–Sun: 11:00AM - 7:00PM</p>
  </section>


  <section class="retail__hero">

    <h2 class="retail__hero--title">The Retail Market</h2>

    <figure class="retail__hero--fig">

      <img class="retail__hero--fig-img"
           src="/assets/images/home_page_two.avif"
           alt="retail-hero">
      <figcaption class="retail__hero--fig-caption">購物</figcaption>
    </figure>

  </section>

  <section class="retail__section">

    <ul class="retail__list">

      <li *ngFor="let retailVendor of retailVendors$|async"
          class="retail__list--detail">
        <!-- TO-DO => add retail vendor link -->

        <p class="retail__list--genre">{{retailVendor.vendorCategory}}</p>
        <!-- TO-DO => router link -->
        <a [routerLink]="['/retail', 'retailVendor.link']"
           class="retail__list--name">{{retailVendor.vendorName}}</a>
      </li>
    </ul>
  </section>


  <section class="cta">
    <svg xmlns="http://www.w3.org/2000/svg"
         aria-hidden="true"
         class="cta__svg--roses">
      <use xlink:href="assets/svg.svg/#roses"></use>
    </svg>

    <div class="cta__content">
      <h2 class="cta__title">The Best of NYC</h2>
      <p class="cta__text">All under one roof!</p>
    </div>

    <div class="cta__rotate">

      <svg xmlns="http://www.w3.org/2000/svg"
           aria-hidden="true"
           class="cta__svg--roses">
        <use xlink:href="assets/svg.svg/#roses"></use>
      </svg>

    </div>
  </section>

  <app-footer></app-footer>
</div>