@use '/src/variables';

.news {
  @include variables.flexBox(column, center, center);
  width: 100%;
  padding: 1.5rem;
  
  background-image: linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(90deg, #000 50%, transparent 0), linear-gradient(180deg, #000 50%, transparent 0), linear-gradient(180deg, #000 50%, transparent 0);
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 30px 1px, 30px 1px, 1px 30px, 1px 30px;
  height: 100%;
  animation: .4s infinite normal a;
  animation-timing-function: linear;
  animation-play-state: paused;
}

button {
  width: 100%;
}
