<div class="content home">
  <app-header></app-header>

  <section class="features">
    <h2 class="features__title">A New Kind of Market</h2>
    <ul class="features__list">
      <li class="features__list--item"
          *ngFor="let feature of marketFeature"
          #feature>
        <figure class="features__list--fig">
          <img class="features--img"
               [src]="feature.img"
               [alt]="feature.img">
          <figcaption class="features__list--caption">
            <ul class="features__list--caption-list">
              <li class="features__list--caption-list-feature">{{feature.info[0]}}</li>
              <li class="features__list--caption-list-feature">{{feature.info[1]}}</li>
            </ul>
          </figcaption>
        </figure>
      </li>
    </ul>
  </section>

  <section class="events">
    <div class="events__hero">
      <svg width="11.6rem"
           height="60px"
           viewBox="0 12 116 58"
           version="1.1"
           xmlns="http://www.w3.org/2000/svg"
           xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs></defs>
        <g id="R2"
           stroke="none"
           stroke-width="1"
           fill="none"
           fill-rule="evenodd"
           font-family="PingFangSC-Semibold, PingFang SC"
           font-size="60"
           font-weight="500"
           line-spacing="60">
          <g id="1440_HP_v2-1-Copy-3"
             transform="translate(-172.000000, -3219.000000)"
             fill="none"
             stroke="currentColor"
             stroke-width="0.75">
            <text id="事件">
              <tspan x="170"
                     y="3282">活動</tspan>
            </text>
          </g>
        </g>
      </svg>
      <h2 class="events__title"> Market Events</h2>
      <svg width="11.6rem"
           height="60px"
           viewBox="0 12 116 58"
           version="1.1"
           xmlns="http://www.w3.org/2000/svg"
           xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs></defs>
        <g id="R2"
           stroke="none"
           stroke-width="1"
           fill="none"
           fill-rule="evenodd"
           font-family="PingFangSC-Semibold, PingFang SC"
           font-size="60"
           font-weight="500"
           line-spacing="60">
          <g id="1440_HP_v2-1-Copy-3"
             transform="translate(-172.000000, -3219.000000)"
             fill="none"
             stroke="currentColor"
             stroke-width="0.75">
            <text id="事件">
              <tspan x="170"
                     y="3282">活動</tspan>
            </text>
          </g>
        </g>
      </svg>
    </div>

    <ul class="events__list">
      <li class="events__list--event-item"
          *ngFor="let event of events">
        <p class="events__list--event-date">{{event.eventDate}}</p>
        <p class="events__list--event-title">{{event.eventName}}</p>
      </li>
    </ul>
    <a class="events__link btn"
       routerLink="/community/event">see all</a>
  </section>


  <section class="address">
    <ul class="address__list">
      <li class="address__list--detail">
        <h3>265 Grand St.</h3>
      </li>
      <li class="address__list--detail">
        <h3>Oakland, CA</h3>
      </li>
    </ul>

    <!-- TO-DO => add mapbox -->
  </section>


  <img src="/assets/images/location.avif"
       class="desktop"
       alt="location-map">
</div>
