<div class="content home">

  <section class="hero">

    <h1 class="hero__text">
      Grand Street Market is a carefully curated retail market, food hall & community space open
      year-round at 265 Grand Street. <a
         href="https://canalstreet.market/community/event/small-business-retail-pop-up-weekend"
         class="hero__link">Support Small
        Business</a> this weekend! </h1>

  </section>

  <figure class="hero__img"
          appearOnScrollDir>
    <img [src]=this.heroImage
         [alt]="heroImage">
  </figure>

  <section class="features">

    <h2 class="features__title">A New Kind of Market</h2>

    <ul class="features__list">

      <li class="features__list--item"
          *ngFor="let feature of marketFeature"
          appearOnScrollDir>

        <figure class="features__list--fig">

          <img class="features--img"
               [src]="feature.img"
               [alt]="feature.img">

          <figcaption class="features__list--caption">

            <ul class="features__list--caption-list">

              <li class="features__list--caption-list-feature"
                  *ngFor="let feature of feature.info">
                <p>{{feature}}</p>
              </li>

            </ul>
          </figcaption>
        </figure>
      </li>
    </ul>
  </section>

  <section class="events">
    <div class="events__hero">

      <svg xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true">
       <use xlink:href="assets/svg.svg/#event"></use>
 </svg>

      <h2 class="events__title"> Market Events</h2>

      <svg xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true">
       <use xlink:href="assets/svg.svg/#event"></use>
 </svg>

    </div>

   
   
      <ul class="events__list"> <li class="events__list--event-item"
        *ngFor="let event of events | async">
   
        <p class="events__list--event-date">{{event.eventDate[0]}}/{{event.eventDate[1]}} <span>(past)</span></p>
        <p class="events__list--event-title">{{event.eventName}}</p>
      </li>
    </ul>
    <a class="events__link btn"
       routerLink="/community/event">see all</a>
  </section>


  <section class="location">
    <ul class="location__list">
      <li class="location__list--address">
        <h3>265 Grand St.</h3>
      </li>
      <li class="location__list--address">
        <h3>Oakland, CA</h3>
      </li>
    </ul>

    <!-- TO-DO => add mapbox -->
      <!-- <img src="/assets/images/location.avif"
       class="desktop"
       alt="location-map"> -->
  </section>


</div>










<!-- </div> -->

<app-footer></app-footer>