<div class="food">
  <!-- <span>Food</span> -->
  <section class="food__info">
    <p>Food Hall Hours:</p>
    <p>Mon–Sun: 11:00AM - 8:00PM</p>
  </section>

  <section class="food__hero">

    <h2 class="food__hero--title">The Food Hall</h2>

    <figure class="food__hero--fig">

      <img class="food__hero--fig-img"
           src="/assets/images/home_page_three.avif"
           alt="food-hero">

      <figcaption class="food__hero--fig-caption">餐饮</figcaption>
    </figure>
  </section>

  <section class="food__section">

    <ul class="food__list">

      <li *ngFor="let foodVendor of foodHallVendors$ | async"
          class="food__list--detail">
        <p class="food__list--genre">{{foodVendor.vendorCategory}}</p>
        <!-- TO-DO => router link -->
        <a class="food__list--name"
           routerLink="['/food', 'foodVendor.link']">{{foodVendor.vendorName}}</a>
      </li>
    </ul>
  </section>

  <section class="cta">
    <svg xmlns="http://www.w3.org/2000/svg"
         aria-hidden="true"
         class="cta__svg--smiles">
      <use xlink:href="assets/svg.svg/#smiles"></use>
    </svg>
  
    <div class="cta__content">
      <h2 class="cta__title">The Best of NYC</h2>
      <p class="cta__text">All under one roof!</p>
    </div>
  
    <div class="cta__rotate">
  
      <svg xmlns="http://www.w3.org/2000/svg"
           aria-hidden="true"
           class="cta__svg--smiles">
        <use xlink:href="assets/svg.svg/#smiles"></use>
      </svg>
  
    </div>
  </section>

  <app-footer></app-footer>
</div>