<div class="content food">
  <!-- <span>Food</span> -->
  <div class="content__hero">
    <div class="content__hero--info">
      <p>Food Hall Hours:</p>
      <p>Mon–Sun: 11:00AM - 8:00PM</p>
    </div>

    <h2 class="content__hero--title">The Food Hall</h2>
    <figure class="content__hero--fig">
      <img class="content__hero--fig-img"
           src="/assets/images/home_page_three.avif"
           alt="">
      <figcaption class="content__hero--fig-caption">餐饮</figcaption>
    </figure>
  </div>

  <section class="content__section">
    <ul class="content__list">
      <li *ngFor="let vendor of foodHallVendors"
          class="content__list--detail">
        <!-- TO-DO => add food vendor link -->
        <a href="#"
           class="content__list--link">
          <p class="content__list--genre">{{vendor.vendorCategory}}</p>
          <p class="content__list--name">{{vendor.vendorName}}</p>
        </a>
      </li>
    </ul>
  </section>
  <app-call-to-action></app-call-to-action>
</div>



