<footer class="footer">

  <section class="footer__cta">
    <h4 class="footer__title">Interested in becoming a vendor?</h4>
    <a class="btn footer__link--vendor"
       routerLink='/become-a-vendor'>click here</a>
  </section>

  <section class="footer__socials">
    <a *ngFor="let social of socials"
       href="{{social.link}}"
       class="footer__socials--link"
       target="_blank">
      <img src="{{social.icon}}"
           class="footer__socials--icon"
           alt="{{social.link}}">
      <p class="footer__socials--text">{{social.social}}</p>
    </a>
    <a href="/"
       class="footer__link--signup"
       target="_blank">
      <img src="/assets/images/svg-icon-mail.svg"
           alt="icon-email"
           class="footer__link--icon">

      <p class="footer__link--text">Get updates in your inbox</p>
      <form class="footer__form">
        <input type="text"
               class="footer__form--input"
               placeholder="Email ">
        <input type="submit"
               class="footer__form--input">
      </form>
    </a>
  </section>

  <section class="footer__desktop">
    <p class="footer__link--text">Stay up to date with our newsletter</p>
  </section>

  <section class="footer__legal">
    <div class="footer__legal--left">
      <a href="https://canalstreet.market/privacy-policy/">Privacy Policy</a>
      <span>Site by <a class="zero"
           href="https://zero.nyc/"
           target="_blank"><s>Zero</s></a></span>

      <span>Coded by <a href="https://CHandaAbdul.dev"
           target="_blank"><s>Chanda Abdul</s></a></span>
    </div>

    <div class="footer__legal--right">
      <a target="_blank"
         href="https://canal-street-dashboard.herokuapp.com/login">Vendor Login</a>
      <br>
      <p>&copy; Canal Street Market {{ currentYear }}</p>
    </div>
  </section>
</footer>
