<menu class="nav__menu">

      <li *ngFor="let panel of panelLinks"
          class="nav__menu--panel {{panel.panel}}"
          [ngClass]="{'active-panel' : selectedPanel == panel.panel,
          'left' :panel.orientation == 'left',
           'right':panel.orientation != 'left'}">

            <a routerLink="{{panel.linkTo}}">

                  <label for="{{panel.panel}}">

                        <ng-container *ngIf="panel.panel === 'about'; else panelLabelTop">

                              <svg xmlns="http://www.w3.org/2000/svg"
                                   aria-hidden="true">
                                    <use xlink:href="assets/svg.svg/#logo"></use>
                              </svg>

                        </ng-container>

                        <ng-template #panelLabelTop>
                              <h2 class="nav__menu--panel-text--top">{{panel.topContent}}</h2>
                        </ng-template>

                  </label>

                  <input type="radio"
                         name="panel"
                         value="{{panel.panel}}"
                         [(ngModel)]="selectedPanel"
                         (click)="togglePanel(panel.panel)">

                  <h3 class="nav__menu--panel-text-center">{{panel.panel}}</h3>
            </a>
      </li>
</menu>