<section class="cta">
  <svg xmlns="http://www.w3.org/2000/svg"
       aria-hidden="true"
       class="cta__svg">
    <use xlink:href="assets/svg.svg/#smiles"></use>
  </svg>

  <div class="cta__content">
    <h2 class="cta__title">The Best of NYC</h2>
    <p class="cta__text">All under one roof!</p>
  </div>

  <div class="cta__rotate">

    <svg xmlns="http://www.w3.org/2000/svg"
         aria-hidden="true"
         class="cta__svg">
      <use xlink:href="assets/svg.svg/#smiles"></use>
    </svg>

  </div>
</section>