@import "abstracts/mixins";
@import "abstracts/variables";
@import "base/typography";
@import "base/animations";


.cta {
  @include flex(column, center, center);
  text-align: center;
  padding: 6rem 0;
  margin-bottom: 10rem;
  @include zigZagBorderInfinite;

  &__smiles:not(:first-of-type) {
    transform: rotateZ(180deg);
  }

  svg {
    width: 8.8rem;
    height: 8.8rem;
    @include bounce;
  }

  &__content {
    padding: 6rem 0;
  }

  &__title {
    @include display-text-extra-large-mobile;
    padding-bottom: 3rem;
  }

  &__text {
    @include body-text-primary-mobile;
  }

}
