@import "main";


.cta {
  @include flex(column, center, center);
  text-align: center;
  padding: 6rem 0 ;
  margin-bottom: 4rem;
  @include zigZagBorderInfinite;

  &__smiles:not(:first-of-type) {
    transform: rotateZ(180deg);
  }

  svg {
    width: 8.8rem;
    height: 8.8rem;
    animation-delay: .5s;
    animation: 1s infinite alternate bounceBounce;
    animation-timing-function: ease-in-out;

  }

  @keyframes bounceBounce {
    0% {
      transform: translateY(10%);
    }

    100% {
      transform: translateY(-10%);
    }
  }

  &__content {
    padding: 6rem 0;
  }

  &__title {
    @include display-text-extra-large-mobile;
    padding-bottom: 3rem;
  }

  &__text {
    @include body-text-primary-mobile;
  }



  // section.cta h2 {
  //   // padding: 6rem 0 0 0;
  //   margin: auto 0 auto auto;
  //   text-align: center;
  // }

  // section.cta p {
  //
  // }

  // section.cta svg {

  // }

}
