@use '_variables.scss';

.food_background {
  background-color: variables.$blue-jeans;
}

.retail_background {
  background-color: variables.$red-radish;
}

.community_background {
  background-color: variables.$imperial-yellow;
}
