body {
  min-height: 100vh;
  width: 100vw;
  font-size: $font-size-default;
  font-family: $font-body-default;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  display: flex;
}

html {
  width: 100vw;
}

img {
  max-width: 150%;

}

ul,
menu {
  list-style-type: none;
}

a,
a:link,
a:visited {
  // @include link-primary;
  text-decoration: none;
  color: inherit;
  transition: all .5s;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

section {
  width: 100vw;
  @include flex(column, center, flex-start);
  // width: calc(100% - $gutter-horizontal-mobile - $gutter-horizontal-mobile);
  //  padding: 0 $gutter-horizontal-mobile;
  padding: 0 $gutter-horizontal-mobile;

  img {
    // img {
    // position: absolute;
    // z-index: 1;
    // max-width: 100%;
  }
}


.container {
  max-width: 100vw;
  @include flex(column, center, center);
  transition: all 5s ease-in-out;
  z-index: 1;

}
