body {
  min-height: 100vh;
  width: 100vw;
  font-size: $font-size-default;
  font-family: $font-body-default;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  display: flex;
}

img {
  max-width: 100%;
}

ul, menu {
  list-style-type: none;
}
a, a:link, a:visited{
  text-decoration: none;
  color: inherit;
  transition: all .5s;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

section {
  width: 100%;
  padding: 4rem $gutter-horizontal-mobile;
}


.container {
  // height: 100%;
  width: 100vw;
  @include flex(column, space-evenly, flex-start);
  // transition: all 5s ease-in-out;
  // z-index: 3;

}
