body {
  // color: $black-hole;
  font-size: 1.6rem;
  // font-family: $global-font-body;
}


/* Typography */
@mixin display-text-extra-large {
  font-family: $global-font-display;
  font-weight: 700;
  font-size: 1.425rem;
  line-height: 15rem;
}

@mixin display-text-large {
  font-family: $global-font-display;
  font-weight: 400;
  font-size: 11.3rem;
}

@mixin display-text-large-mobile {
  @include display-text-large;
  font-size: 6rem;
  line-height: 6rem;
}

@mixin display-text-medium {
  font-family: $global-font-display;
  font-weight: 400;
  font-size: 7.5rem;
  line-height: 8.6rem;
  // font-weight: 400;
  // margin: 6rem 90px 6rem 1.5rem;
  // font-size: 6rem;
  // line-height: 6rem;
}

@mixin display-text-medium-mobile {
  @include display-text-medium;
  font-size: 3.5rem;
  line-height: 4.2rem;
}

@mixin display-text-small {
  font-family: $global-font-display;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  width: 100%;
  max-width: 385px;
  margin: 0 auto;
}

@mixin display-text-extra-small {
  margin-bottom: 20px;
  // font-family: ogg,sans-serif;
  color: $black-hole;
  // font-size: 45px;
  // line-height: 45px;
  // border-left: 10px solid $granulated-sugar;
  padding: 16px 0 10px;
  font-size: 24px;
  line-height: 27px;
  max-width: calc(100% - 60px);
  margin: 0 auto 25px;
  // background-color: $granulated-sugar;
}


@mixin subheading-primary {
  font-family: $global-font-body;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
}

@mixin subheading-secondary {
  font-family: $global-font-body;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
}

@mixin link-primary {
  @include display-text-medium;
  // font-family: $global-font-body;
  color: $black-hole;
  // font-weight: 700;
  // font-size: 20px;
  // line-height: 15px;
  // letter-spacing: 2.5px;
  display: inline;
  text-decoration: none;
  background-image: repeating-linear-gradient(-45deg, $imperial-yellow, $imperial-yellow 1px, transparent 0, transparent 13px), repeating-linear-gradient(45deg, $imperial-yellow, $imperial-yellow 1px, transparent 0, transparent 11px);
  background-position: 0 103%, 2px 103%;
  background-size: 1.7rem 1rem;
  background-repeat: repeat-x;
  animation: .8s infinite normal b;
  animation-timing-function: linear;
  padding-bottom: 1rem;

}

@mixin link-primary-mobile {
  @include link-primary;
  @include display-text-medium-mobile;
}

@mixin link-secondary {
  // a {
//   color: $red-radish;
//   text-decoration: none;

//   @include on-event {
//     color: $black-hole;
//     text-decoration: underline;
//   }
// }
  font-family: $global-font-body;
  color: $black-hole;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.25rem;
  text-decoration: none;

}

@mixin body-text-primary {
  font-family: $global-font-body;
  // margin: 1.5rem auto;
  font-size: 1.4px;
  line-height: 21px;
}


@mixin body-text-primary-mobile {
  @include body-text-primary;
  font-size: 1.4rem;
  line-height: 2.1rem;
}
@mixin body-text-secondary {
  font-family: $global-font-body;
  text-align: center;
  font-size: 1rem;
  text-transform: lowercase;
}

// a {
//   @include link-primary;

// }

.btn {
  @include link-secondary;
}



h1 {
  @include display-text-large;
}

h2 {
  @include display-text-medium;
}

h3 {
  @include display-text-small;
}

h4 {
  @include display-text-extra-small;
}


ul {
  @include body-text-primary;
}


h1,
h2,
h3,
h4,
h5,
h6 {

  // font-weight: 400;
  // margin: 0;
  // padding: 0;
}
