/* Typography */
body {
  color: $black-hole;
  font-size: 1.6rem;
  font-family: $font-body-default;
  font-weight: $font-weight-body-default;
}


/* Display Types*/
@mixin display-text-extra-large {
  font-family: $global-font-display;
  font-weight: $font-weight-body-default;
  font-size: 20rem;
  line-height: 19rem;
}

@mixin display-text-extra-large-mobile {
  @include display-text-extra-large;
  font-size: 6rem;
  line-height: 6.5rem;

}

@mixin display-text-large {}

@mixin display-text-large-mobile {
  font-weight: $font-weight-body-default;
  @include display-text-large;
  font-size: 3.6rem;
  line-height: 4.2rem;
  letter-spacing: -0.2rem;
}

@mixin display-text-medium {
  font-family: $font-display-default;
  font-weight: $font-weight-body-default;
}

@mixin display-text-medium-mobile {
  @include display-text-medium;
  font-size: 3.2rem;
  line-height: 4.2rem;
}

@mixin display-text-small {
  font-weight: $font-weight-body-default;
  font-family: $font-display-default;
  font-size: 2.4rem;
  line-height: 2.7rem;
}

@mixin display-text-extra-small {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  font-family: $font-body-default;

}

@mixin display-text-primary-subheading {}

@mixin display-text-secondary {}



/* Link Types */
@mixin link-primary {
  @include display-text-medium;
  display: inline;
  text-decoration: none;
  padding-bottom: 1rem;
  @include yellowZigZagUnderline;
}

@mixin link-primary-mobile {
  @include link-primary;
  @include display-text-medium-mobile;
}

@mixin link-secondary {}

/* Body Text Types */
@mixin body-text-primary {
  font-family: $font-body-default;
  font-size: 14rem;
  line-height: 21px;
}


@mixin body-text-primary-mobile {
  @include body-text-primary;
  font-weight: $font-weight-body-default;
  font-size: 1.6rem;
  line-height: 2.1rem;
}

@mixin body-text-secondary {
  @include body-text-primary-mobile;
  font-size: 1.4rem;
}

@mixin body-text-attribution {
  @include body-text-primary-mobile;
  font-size: 1rem;
}
